<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Prezent</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<!-- Optional theme -->
<style>
body {
  padding-top: 50px;
}
.pz-main {
  padding: 10px 0;
  text-align: center;
}
.top-buffer { padding:10px 0; }
.pz-small { font-size: 10px; }
</style>

</head>

<body>
        

    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="form-control" placeholder="Email address" autofocus>
        <input type="password" class="form-control" placeholder="Password">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
	<div class="row pz-main">
	<div class="col-xs-6">
	<a href="#"><span class="glyphicon glyphicon-headphones pull-right"></span>Student register</a>
	</div>
	<div class="col-xs-6">
	<a href="#"><span class="glyphicon glyphicon-user pull-left"></span>Teacher register</a>
	</div>
	</div>
    </div> <!-- /container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://code.jquery.com/jquery.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
<script src="script.js"></script>
</body>

</html>
