    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="form-control" placeholder="Email address" autofocus>
        <input type="password" class="form-control" placeholder="Password">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
	<div class="row pz-main">
	<div class="col-xs-6">
	<a href="#"><span class="glyphicon glyphicon-headphones pull-right"></span>Student register</a>
	</div>
	<div class="col-xs-6">
	<a href="#"><span class="glyphicon glyphicon-user pull-left"></span>Teacher register</a>
	</div>
	</div>
    </div> <!-- /container -->
