<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Prezent</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
<!-- Optional theme -->
<link rel="stylesheet" href="/css/style.css" />

</head>

<body>

    <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
          <a class="navbar-brand text-left" href="#">Logout</a>
          <p class="navbar-text pull-right"><a href="#" class="navbar-link">Student Name</a></p>
      </div>
    </nav><!-- end of navbar -->

 

    <div class="container">
	<div class="text-right">
	<h1>Classroom Name</h1>
	<h2>Period/Time(UTC)</h2>
	<h3>Teacher Name</h3>
	<h4>(prezent class)</h4>
	</div>
      <div class="pz-main tabbable">
        <ul class="nav nav-tabs">
	  <li class="active"><a href="#classroom" class="purple" data-toggle="tab">Classroom Feed</a></li>
	  <li><a href="#info" class="orange"data-toggle="tab">Information</a></li>
	  <li><a href="#board" class="yellow" data-toggle="tab">Leaderboard</a></li>
	 
	</ul>

	<div class="row top-buffer">
		<div class="col-xs-6">Today's Date</div>
		<div class="col-xs-6 ">
		<form class="pull-right" role="search">
		<div class="input-group input-group-sm">
		<span class="input-group-addon btn btn-default"><span class="glyphicon glyphicon-search"></span></span>
		<input id="search" type="text" class="form-control" placeholder="Search">
		</div>
		</form>
		</div>
	</div>

	<div class="tab-content">
		<div class="tab-pane active" id="classroom">
			<div class="jumbotron"> Todays Lesson Plan </div> 
			<div class="row">
				<div class="col-xs-6 col-md-offset-3 box">Add Personal Note</div>
				
			</div>
			<div class="row">
				<div class="col-xs-6 col-md-offset-3 box">In-class Question</div>
				
			</div>
			<div class="row">
				<div class="col-xs-6 col-md-offset-3 box">Today's Homework Assignment</div>
			</div>
			<div class="row">
				<div class="rating"><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>
			</div>
		</div>


		<div class="tab-pane" id="info">
		  <div class="jumbotron">Classroom Info </div>
		</div>

		<div class="tab-pane" id="board">
		    <div class="jumbotron">Leaderboard and Results </div>
		</div>
	</div>
     </div>


    <div class="row text-center"><div class="btn-group">


    <button type="button" class="btn btn-primary pz-small">
      <span class= "glyphicon glyphicon-paperclip" > </span>
      </br>Note
	</button>
    <button type="button" class="btn btn-primary btn-default pz-small">
       <span class="glyphicon glyphicon-earphone"> </span>
        </br>1 on 1
	</button>
    <button type="button" class="btn btn-primary btn-default pz-small">
       <span class="glyphicon glyphicon-ok"> </span>
        </br>Prezent
	</button>
    <button type="button" class="btn btn-primary btn-default pz-small">
       <span class="glyphicon glyphicon-comment"> </span>
        </br>Chat
	</button>
 <button type="button" class="btn btn-primary btn-default pz-small">
       <span class="glyphicon glyphicon-star-empty"> </span>
        </br>Rate
	</button>

    </div></div><!-- end of button row -->
    </div><!-- /.container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://code.jquery.com/jquery.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
<script src="script.js"></script>
</body>

</html>
