body {
  padding-top: 50px;
}
.top-buffer { padding:10px 0; }
.pz-small { font-size: 10px; }

.navbar-inverse .navbar-brand {color: white;}
.navbar-inverse .navbar-link {color:white;}
header {text-align: right;}
body {
  padding-top: 50px;text-align: left;
}
.pz-main {
  padding: 10px 0;
  text-align: left;
}
.top-buffer { padding:10px 0; }
.pz-small { font-size: 10px; } 
.nav-tabs>li.active>a.purple, .purple{background-color:purple; color:white }
.nav-tabs>li.active>a.orange, .orange{background-color:orange; color:white }
.nav-tabs>li.active>a.yellow, .yellow{background-color:#F7DF07; color:white}
.box{background-color:white; border:2px solid black; padding:0 60px 0 60px; margin-top:5px;}
h1, h2, h3 { margin-top: 5px; margin-bottom: 5px; line-height:0.8; }
h4{font-size:10px; margin-top: 5px; margin-bottom: 5px; color: red;}
.btn-primary { background-color: black; border-color:gray}
.jumbotron { background-color:#E8E2EA; margin-bottom: 20px; padding-top: 40px;
padding-bottom: 40px; text-align: center;
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  font-size:2em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
